<div class="modal fade" id="modal_id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body">
                <table class="table" id="thongtinsinhvien">
                    <tr>
                        <td>Họ tên</td>
                        <td>'+res.hoten+'</td>
                    </tr>
                    <tr>
                        <td>MSSV</td>
                        <td>'+res.mssv+'</td>
                    </tr>
                    <tr>
                        <td>Giới tính</td>
                        <td>'+res.gioitinh+'</td>
                    </tr>
                    <tr>
                        <td>SĐT</td>
                        <td>'+res.sdt+'</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>'+res.email+'</td>
                    </tr>
                    <tr>
                        <td>Điạ chỉ</td>
                        <td>'+res.diachi+'</td>
                    </tr>
                    <tr>
                        <td>Mã lớp</td>
                        <td>'+res.malop+'</td>
                    </tr>
                    <tr>
                        <td>Khoá</td>
                        <td>'+res.khoa+'</td>
                    </tr>
                    <tr>
                        <td>Ngành</td>
                        <td>'+res.nganh+'</td>
                    </tr>
                    <tr>
                        <td>Trường</td>
                        <td>'+res.truong+'</td>
                    </tr>
                    <tr>
                        <td>Kỳ thực tập</td>
                        <td>'+res.ngaybatdau+'</td>
                    </tr>
                    <tr>
                        <td>Đề tài</td>
                        <td>'+res.tendetai+'</td>
                    </tr>
                    <tr>
                        <td>Người hướng dẫn</td>
                        <td>'+res.nguoihuongdan+'</td>
                    </tr>
                    <tr>
                        <td>
                            Ý thức kỷ luật
                        </td>
                        <td>
                            <span class="badge badge-primary">
                                '+res.ythuckyluat_number+'
                            </span>
                            '+res.ythuckyluat_text+'
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tuân thủ thời gian
                        </td>
                        <td>
                            <span class="badge badge-primary">
                                '+res.tuanthuthoigian_number+'
                            </span>
                            '+res.tuanthuthoigian_text+'
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kiến thức
                        </td>
                        <td>
                            <span class="badge badge-primary">
                                '+res.kienthuc_number+'
                            </span>
                            '+res.kienthuc_text+'
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kỷ năng nghề
                        </td>
                        <td>
                            <span class="badge badge-primary">
                                '+res.kynangnghe_number+'
                            </span>
                            '+res.kynangnghe_text+'
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Khả năng làm việc độc lập
                        </td>
                        <td>
                            <span class="badge badge-primary">
                                '+res.khanangdoclap_number+'
                            </span>
                            '+res.khanangdoclap_text+'
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Khả năng làm việc nhóm
                        </td>
                        <td>
                            <span class="badge badge-primary">
                                '+res.khanangnhom_number+'
                            </span>
                            '+res.khanangnhom_text+'
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Khả năng giải quyết công việc
                        </td>
                        <td>
                            <span class="badge badge-primary">
                                '+res.khananggiaiquyetcongviec_number+'
                            </span>
                            '+res.khananggiaiquyetcongviec_text+'
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Đánh giá chung
                        </td>
                        <td>
                            <span class="badge badge-primary">
                                '+res.danhgiachung_number+'
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer" id="modal_footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
    integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>